@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}

body {
  height: 100%;
  width: 100%;
  background-color: hsl(0, 0%, 95%);
  font-size: 15px;
}

.wrapper {
  position: absolute;
  width: 65%;
  height: 70%;
  top: 0;
  left: 0;
  margin: auto;
  right: 0;
  bottom: 0;
  display: flex;
}

.wrapper .card {
  /* background-color: white; */
  padding: 4vw;
}

.card-1 {
  background-color: hsl(31, 77%, 52%);
}

.card-1 a {
  color: hsl(31, 77%, 52%);
}

.card-2 {
  background-color: hsl(184, 100%, 22%);
}

.card-2 a {
  color: hsl(184, 100%, 22%);
}

.card-3 {
  background-color: hsl(179, 100%, 13%);
}
.card-3 a {
  color: hsl(179, 100%, 13%);
}

h1 {
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;
  font-size: 5vh;
  color: white;
  text-transform: uppercase;
  margin-bottom: 4vh;
}

img {
  margin-bottom: 4vh;
}

p {
  color: white;
  font-family: "Lexend Deca", sans-serif;
  line-height: 3.5vh;
}

a {
  text-decoration: none;
  background-color: white;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  padding-top: 2vh;
  font-size: 15px;
  padding-bottom: 2vh;
  position: relative;
  bottom: -12vh;
  border-radius: 30px;
  font-family: "Lexend Deca", sans-serif;
}

@media screen and (max-width: 375px) {
  body {
    width: 100%;
    font-size: 12px;
  }

  .wrapper {
    position: relative;
    width: 80%;
    height: auto;
    display: block;
    top: 55px;
  }

  .wrapper .card {
    height: 50vh;
    padding: 8vh;
  }

  a {
    text-decoration: none;
    background-color: white;
    padding-left: 4vw;
    padding-right: 4vw;
    /* padding-top: 2vh; */
    font-size: 12px;
   
    bottom: -7vh;
    border-radius: 30px;
    font-family: "Lexend Deca", sans-serif;
  }
}
