@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("./images/bg-pattern.svg") no-repeat;
  font-family: "Manrope", sans-serif;
  background-size: contain;
  /* background-position-x: top left; */
  /* background-position: top; */
  display: flex;

  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: hsl(225, 20%, 60%);
}

.wrapper {
  /* width: 37.8vw; */
  height: 80vh;
  /* background-color: red; */
  /* border: 1px solid black; */
}

.wrapper .entete {
  /* height: 30%; */
  background: url("./images/pattern-circles.svg") no-repeat center;
  /* padding: 60px; */
  padding-bottom: 6vh;
  margin-bottom: 2vh;
  /* border: 1px solid black; */
}

.wrapper .entete p {
  text-align: center;
  /* line-height: 1.8; */
  font-size: 16px;
}

.wrapper .entete p span {
  font-weight: 800;
  font-size: 4.1vh;
  color: hsl(227, 35%, 25%);
}

.wrapper .contenu {
  height: auto;
  border-radius: 5px;
  background-color: white;
  padding: 3em;
  box-shadow: 0 0.5px 2px -1px black;
}

.valeur {
  display: flex;
  padding-bottom: 1.5em;
  /* border: 1px solid black; */
}

.valeur div {
  width: 50%;
  /* border: 1px solid red; */
}

.valeur .pageviews {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
}

.valeur .pageviews h4 {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.valeur .months span {
  font-weight: 800;
  color: hsl(225, 20%, 60%);
  position: relative;
  font-size: 15px;
  top: -20%;
  /* transform: translateY(-50%); */
}

.valeur .months {
  text-align: center;
  font-size: 2em;
  color: rgb(41, 51, 86);
}

/* Partie Slider Curseur */

.slide-container {
  width: 96%;
  margin: 0 auto;
  padding-bottom: 3em;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background: hsl(224, 65%, 95%);
  outline: none;
  border-radius: 15px;
  /* overflow: hidden; */
  box-shadow: inset 0 0 5px hsl(224, 65%, 95%);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-image: url("./images/icon-slider.svg");
  background-color: hsl(174, 86%, 45%);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  /* box-shadow: -407px 0 0 400px hsl(174, 86%, 45%); */
}
/* Promo Style */

.promo {
  font-size: 0.85em;
  display: flex;
  width: 99%;
  justify-content: right;
  padding-top: 1em;
  padding-bottom: 5em;
}

/* Checkbox Style  */

.promo #bill {
  position: relative;
  width: 50px;
  height: 25px;
  -webkit-appearance: none;
  background-color: #c6c6c6;
  outline: none;
  border-radius: 20px;
  box-shadow: inset 0 0 5px hsl(223, 50%, 87%);
  top: 50%;
  transform: translateY(-10%);
}

.promo #bill:checked {
  background: hsl(174, 86%, 45%);
}

.promo #bill:before {
  content: "";
  position: absolute;
  width: 25px;
  height: 24px;
  border-radius: 20px;
  transition: 0.5s;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transform: scale(0.9);
}

.promo #bill:checked:before {
  left: 25px;
}

.promo span {
  background-color: hsl(14, 92%, 95%);
  color: hsl(15, 100%, 70%);
  text-align: center;
  font-size: 11px;
  padding: 4px 4px;
  font-weight: 700;
  border-radius: 10px;
}

.offre {
  display: flex;
}

.offre .offrevalue {
  width: 50%;
}

.offre .offrevalue .check {
  display: block;
  font-size: 0.9em;
  line-height: 2;
}

.offre .start {
  position: relative;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.offre  .start a{
  text-decoration: none;
  color: white;
  background-color: rgb(41, 51, 86);
  padding: 10px 30px 10px 30px;
  border-radius: 20px;
  font-size: .9em;


}