<div class="content">
    <div class="header">
        <div class="head-menu">
            <div class="logo">
                <img src="../../../assets/img/logo.svg" alt="">
            </div>
            <nav role="navigation">
                <ul class="menu">
                    <li><a href="#">Collections</a></li>
                    <li><a href="#">Men</a></li>
                    <li><a href="#">Women</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="user">

            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
            </svg>

            <img src="../../../assets/img/image-avatar.png" alt="">

        </div>
    </div>
    <div class="contenu">
        <div class="imgshow">
            <div class="img">
                <img src="../../../assets/img/image-product-1.jpg" alt="">
            </div>
            <div class="thumb">
                <div class="imgthumb">
                    <img src="../../../assets/img/image-product-1-thumbnail.jpg" alt="">
                </div>
                <div class="imgthumb">
                    <img src="../../../assets/img/image-product-2-thumbnail.jpg" alt="">
                </div>
                <div class="imgthumb">
                    <img src="../../../assets/img/image-product-3-thumbnail.jpg" alt="">
                </div>
                <div class="imgthumb">
                    <img src="../../../assets/img/image-product-4-thumbnail.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="description">
            <span id="title">sneaker company</span>
            <h2>Fall Limited Edition Sneakers</h2>
            <p>
                The low-profile sneakers are your perfect casual wear companion. Featuring a durable rubber outer sole ,
                they'll withstand everything the weather can offer
            </p>
            <div class="cost">
                $125.00 <span>50%</span>
            </div>
            <span id="valuebarre"> $250.00 </span>
            <div class="addcart">
                <div class="increment">
                    <button>-</button>
                    <span>0</span>
                    <button>+</button>
                </div>
                <button class="add">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                    </svg>
                    <span>Add to cart </span>

                </button>
            </div>
        </div>
    </div>
</div>